!!!
%html
  %head
    %title Lockdown
  %body
    %h1 Lockdown
    %form#form
      %input(type="text" id="input" placeholder="message")
    #messages
    %script(src="/lockdown.js" type="text/javascript")
